{% extends 'base.html' %}
    {% block aside %}
        {%if gerente: %}
        <a href="{{ url_for('filmes.add_filme')}}">Adicionar Filme</a>
        <a href="{{ url_for('filmes.add_sessao')}}">Adicionar Sessão</a>
        {% endif %}
    {% endblock %}

    {% block section %}
        <div class="filmes-container">
            {% for filme in filmes %}
                <div class="filme-card">
                    <img src="{{ url_for('static', filename='uploads/' + filme.imagem) }}" alt="Imagem de {{ filme.titulo }}" class="filme-imagem">
                    <h3>{{ filme.titulo }}</h3>
                    <p><strong>Data de Lançamento:</strong> {{ filme.data_lancamento }}</p>
                    <p><strong>Classificação:</strong> {{ filme.classificacao }}</p>
                    <p><strong>Duração:</strong> {{ filme.duracao }}</p>
                    <p><strong>Sinopse:</strong> {{ filme.sinopse }}</p>
                    <p><strong>Gêneros:</strong> {{ filme.generos | map(attribute='nome') | join(', ') }}</p>
                
                    <a href="{{ url_for('filmes.editar_filme', id=filme.id) }}">Editar</a>
                    <a href="{{ url_for('filmes.excluir_filme', id=filme.id) }}" onclick="return confirm('Tem certeza que deseja deletar esta atividade?');">Deletar</a>
                    <a href="{{ url_for('filmes.ver_sessoes', id=filme.id) }}" >Sessões Disponíveis</a>

                </div>
            {% endfor %}
        </div>
    {% endblock %}
