{% extends 'base.html' %}
    {% block aside %}
        {%if gerente: %}
        <a href="{{ url_for('filmes.add_filme')}}">Adicionar Filme</a>
        <a href="{{ url_for('filmes.add_sessao')}}">Adicionar Sessão</a>
        {% endif %}

        {% if user: %}
        <a href="{{ url_for('clientes.logout')}}">Logout</a>
        {% elif gerente: %}
        <a href="{{ url_for('gerentes.logout')}}">Logout</a>
        {% else %}
        <a href="{{ url_for('clientes.login_cliente')}}">Login</a>
        {% endif %}

        <div class="main" style="background-color: aqua;">
            <h2>Filmes Cadastrados</h2>
            <ul>
                {% for filme in filmes %}
                    <li>{{ filme.titulo }} ({{ filme.genero }})</li>
                {% endfor %}
            </ul>

            <h2>Sessões Criadas</h2>
            <ul>
                {% for sessao in sessoes %}
                    <li>{{ sessao.filme_id }} - {{ sessao.horario }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
