<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h2>Área do Gerente</h2>

    <main>

        <aside>
            <h1> CINETECH</h1>
            <a href="{{ url_for('filmes.index')}}">Filmes</a>
            <a href="{{ url_for('filmes.index')}}">Lançamento</a>
            <a href="{{ url_for('filmes.index')}}">Avaliações</a>
            <a href="{{ url_for('filmes.index')}}">Programação</a>
            <a href="{{ url_for('filmes.index')}}">Reserva</a>
            <a href="{{ url_for('filmes.add_filme')}}">Adicionar Filme</a>
            <a href="{{ url_for('filmes.add_sessao')}}">Adicionar Sessão</a>
            <a href="{{ url_for('gerentes.logout')}}">Logout</a>


        </aside>

        <section>

            <h3>Informações do Site</h3>


        </section>
    </main>

</body>
</html>