<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="conteudo"></div>
    <h3>Login de Gerente</h3>
    <form action="{{ url_for('gerentes.login_gerente') }}" method="post">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        
        <button type="submit">Logar</button>

        <a href="{{url_for('clientes.login_cliente')}}">Fazer login como cliente</a>
     
    </form>
</body>
</html>