/* Estilo geral */
body {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}
header {
    width: 100vw;
    height: 10vh;
    background-color: crimson;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes
.logo {
    width: 15%;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.opcoes {
    padding: 5px;
    margin-right: 30px;
    
}
.opcoes a button {
    margin: 5px;
    background-color: crimson;
    color: white;
    border: none;
<<<<<<< Updated upstream
    width: auto;
=======
    width: 90px;
>>>>>>> Stashed changes
    height: 25px;
    padding: 5px;
}

.opcoes a {
    margin: 2px;
    background-color: crimson;
    color: white;
    border: none;
<<<<<<< Updated upstream
    width: auto;
    height: 25px;
}

.opcoes a button:hover {
    background-color: black;
=======
    width: 90px;
    height: 25px;
>>>>>>> Stashed changes
}

.opcoes a button:hover {
    background-color: black;
}


aside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* Cabeçalho */
h2 {
    font-size: 28px;
    margin-top: 20px;
    color: #e50914; /* Vermelho Netflix */
}

/* Formulário */
.forms_add {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    align-items: center;
    height:80%;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height:90%
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 5px 1%;
}

label {
    font-size: 18px;
    color: #ffffff;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

/* Botão de envio */
#adicionar {
    background-color: #e50914;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 20px;
}

#adicionar:hover {
    background-color: #ff1e28;
}

/* Estilização das opções de gênero */
div {
    text-align: left;
    margin-bottom: 10px;
}



.form-group.generos {
    margin: 20px 0; /* Espaço entre os grupos de formulário */
    width: 100%;
    display:flex;
    padding-left: 10px;


}

.checkbox-group .genero{
    display: flex; /* Ativa o flexbox */
    flex-wrap: wrap; /* Permite que os itens se ajustem em várias linhas */
    gap: 1px; /* Espaço entre os checkboxes */
    flex-direction: row;
    width: 100%;

}

.checkbox-group.genero div {
    margin:0;
    padding:0;
    width: auto;
    top: 5%;
    display: inline; /* Alinha o checkbox e o label */

}