<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Cadastro de Filmes</title>
    <link rel="stylesheet" href="../static/style.css">
    {% block css %}
    {% endblock %}

</head>
<body>

    <div class="container">
        <header>
            {% block header %}
                <div class="logo"><img src="../static/imgs/logo.png" alt=""></div>
                <div class="opcoes">
                    <a href="{{ url_for('index')}}"><button>Home</button></a>
                    <a href="{{ url_for('filmes.index')}}"><button>Filmes</button></a>
                    <a href="{{ url_for('filmes.index')}}"><button>Lançamento</button></a>
                    <a href="{{ url_for('filmes.index')}}"><button>Avaliações</button></a>
                    <a href="{{ url_for('filmes.index')}}"><button>Programação</button></a>
                    <a href="{{ url_for('filmes.index')}}"><button>Reserva</button></a>
                    {% if user: %}
                    <a href="{{ url_for('clientes.logout')}}"><button>Logout</button></a>
                    {% elif gerente: %}
                    <a href="{{ url_for('gerentes.logout')}}"><button>Logout</button></a>
                    {% else %}
                    <a href="{{ url_for('clientes.login_cliente')}}"><button>Login</button></a>
                    {% endif %}
                </div>
            {% endblock %}
        </header>
        
        {% block aside %}
        <aside class="aside_index">
        

            <div class="deadpool">
                <img src="/static/imgs/deadpoolandwolverine.png" alt="Deadpool"> <!-- Substitua pelo link da imagem -->
                <div>
                    <h2>Título: Deadpool</h2>
                    <p><strong>Gêneros:</strong> Ação, Comédia, Ficção Científica</p>
                    <p><strong>Sinopse:</strong> Um ex-militar que se torna um mercenário adquire poderes de cura e busca vingança contra aqueles que o torturaram.</p>
                    <p><strong>Duração:</strong> 108 minutos</p>
                    <p><strong>Classificação indicativa:</strong> 16 anos</p>
                    <p><strong>Data de lançamento:</strong> 12 de fevereiro de 2016</p>
                </div>
                {% if not user:%}
                <div class="deadpool_bt_login"> 
                    <button>
                        <a href="{{ url_for('clientes.login_cliente')}}">Para ter ACESSO a mais filmes CADASTRE-SE!</a>
                    </button>
                </div>
                {% endif %}
            </div>
        </aside>
        {% endblock %}
        <section>
            {% block section%}
                
            {% endblock %}
        </section>
    </div>

    {% block js %}
    {% endblock %}
</body>
</html>
