{% extends 'base.html' %}
    {% block section %}
        <div class="procurador">
            <div class="filtros">
                <select name="categoria" id="categoria" required>
                    <option value="" disabled selected>Gênero</option>
                    <option value="Eletrodoméstico">A</option>
                    <option value="Eletrodoméstico">B</option>
                </select>
                <select name="categoria" id="categoria" required>
                    <option value="" disabled selected>Lançamento</option>
                    <option value="Eletrodoméstico">A</option>
                    <option value="Eletrodoméstico">B</option>
                </select>
                <select name="categoria" id="categoria" required>
                    <option value="" disabled selected>Avalição</option>
                    <option value="Eletrodoméstico">A</option>
                    <option value="Eletrodoméstico">B</option>
                </select>
            </div>
        </div>
        <br>
        <div class="conteudo">
            <div class="filme">
                <h3>FILME 1</h3>
            </div>
            <div class="filme">
                <h3>FILME 2</h3>
            </div>
            <div class="filme">
                <h3>FILME 3</h3>
            </div>
            <div class="filme">
                <h3>FILME 4</h3>
            </div>
            <div class="filme">
                <h3>FILME 5</h3>
            </div>
            <div class="filme">
                <h3>FILME 6</h3>
            </div>
            <div class="filme">
                <h3>FILME 7</h3>
            </div>
            <div class="filme">
                <h3>FILME 8</h3>
            </div>
        </div>
    {% endblock %}
