<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/login.css">
</head>
<body>
    <div class="conteiner">
        <div class="caixa">
            <div class="box-1">
                <div class="bem-vindo">
                    <div class="mensagem">
                    </div>
                </div>
                <div class="box-2">
                    <h1>Cadastro</h1>
                    {% with messages = get_flashed_messages() %}

                    <div class="login">
                        <form action="{{ url_for('clientes.cadastrar_cliente') }}" method="post">
                            <input type="text" id="nome" name="nome" placeholder="nome" required><br>
                            <input type="email" id="email" name="email" placeholder="email" required><br>
                            <input type="password" id="senha" name="senha" placeholder="senha" required><br>
                            
                            <button class="cadastro" onclick="registerUser()">Cadastrar</button>
                        </form>
                        <div class="sucessor">
                            <p id="d">Já tem uma conta? <a href="{{url_for('clientes.login_cliente')}}">Login</a></p>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color: red;">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
    
    </div>

</body>
</html>