{% extends 'base.html' %}
    {% block header %}
            {% if user: %}
            <a href="{{ url_for('clientes.logout')}}"><button>Logout</button></a>
            {% elif gerente: %}
            <a href="{{ url_for('gerentes.logout')}}"><button>Logout</button></a>
            {% else %}
            <a href="{{ url_for('clientes.login_cliente')}}"><button>Login</button></a>
            {% endif %}
    {% endblock %}
    {% block aside %}
        <div class='intro_clientes'>
            <h3 style="color: white;">Bem Vindo ao CINETECH {{user}}</h3>
        </div>
    {% endblock %}
    {% block section %}
        <div>
            <h4>Suas reservas</h4>
        </div>
        <div>
            <h4>Suas avaliações</h4>
        </div>
    {% endblock%}
</body>
</html>